<flynt-component name="LayoutFooter" class="componentSpacing">
    
    <div class="container lg">
        <div class="contact">
        {{form}}
           <div id="mc_embed_shell" class="mb30">
                {# <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">                 #}
                <div id="mc_embed_signup">
                <form action="https://wpenginepowered.us16.list-manage.com/subscribe/post?u=cdfa2ab0e7e04faa82c7bfa88&amp;id=7c3864e099&amp;f_id=007569e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div id="mc_embed_signup_scroll">                 
                    <div class="mc-field-group"><label class="visuallyHidden" for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" placeholder="Email Address" class="required email" id="mce-EMAIL" required="" value=""></div>
                    <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div><div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text" name="b_cdfa2ab0e7e04faa82c7bfa88_7c3864e099" tabindex="-1" value=""></div><div class="clear"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button visuallyHidden" value="Subscribe"></div>
                </div>
                </form>
                </div>
                <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
                {% if contactOptions.socials %}
                    <div class="socials">
                        {% for social in contactOptions.socials %}
                            <a class="" href="{{ social.link.url }}" {{ social.link.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }} title="{{social.link.title}}">
                                {{ social.icon }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if footerOptions.linkColumns %}
                <div class="links">
                    <div class="column-wrap">
                        {% for column in footerOptions.linkColumns %}
                            <div class="column">
                                {% for link in column.links %}
                                    <a class="{{link.makeButton ? 'button sm mb16'}}" href="{{ link.link.url }}">
                                        {{ link.link.title }}{{link.makeButton ? '<i class="fa-regular fa-chevrons-right"></i>'}}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="copyright">           
                {{footerOptions.copyrightText}}
                <nav
                    class="bottom-nav">{# {% if menuFooterBottom %}
                                                                    {% for item in menuFooterBottom.items %}
                                                                        <a class="{{ item.classes|join(' ') }}" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
                                                                            {{ item.icon ? '<i class="' ~ item.icon ~ '"></i>' : item.title }}
                                                                        </a>
                                                                    {% endfor %}
                                                                {% endif %} #}
                </nav>
                 <img class="arrow-image" src="{{theme.link}}/assets/images/footer-arrow.png" alt="arrow image">
            </div>
        </div>
    </flynt-component>
