<!DOCTYPE html>
<html class="html {{ body_class }}" {{ site.language_attributes }}>
  <head>
    {% set snippets = fn('getCodeSnippets') %}
    {% set contactInfo = fn('getContactOptions') %}
    {{snippets.headCode}}  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{site.title}}">
    {{ function('wp_head') }}
  </head>
  <body>
  
    {{snippets.bodyStartCode}}
    {{ function('wp_body_open') }}
   
    {% block layout %}      
      {% block nav %}
        {{ renderComponent("NavigationJs") }}
      {% endblock %}
       
      <main id="mainContent" class="mainContent">
        {% if function('post_password_required') %}
          {{ function('get_the_password_form') }}
        {% else %}
          {% block content %}
            No <code>{{ '{% block content %}' }}</code> defined for this template.
          {% endblock %}
        {% endif %}
      </main>
      
      {% block footer %}
        {{ renderComponent("LayoutFooter") }}
      {% endblock %}
      
      </div>
    {% endblock %}
<aside class="dc-modal" data-id="contact-modal" data-bg-close="true" role="dialog" aria-modal="true" aria-labelledby="contact-modal-title" aria-describedby="contact-modal-content">
            <section class="dc-modal-container">
                <div class="modal-nav">
                    <button data-modal-close aria-label="Close Modal" class="close">X</button>
                </div>
                <div class="content" id="contact-modal-content">
                   {{contactInfo.contactModalContent}}
                </div>
            </section>
        </aside>

    <div class="wpFooter">
      {{ function('wp_footer') }}
      <script src="https://kit.fontawesome.com/df3cdd5667.js" crossorigin="anonymous"></script>
    </div>
    {{snippets.bodyEndCode}}
  </body>
</html>
