{% if options.sectionAnchor %}
    <span class="anchor-element" {{options.sectionAnchor ? 'id="'~ options.sectionAnchor ~'"'}} {{options.sectionAnchorLabel ? 'data-label="'~ options.sectionAnchorLabel ~'"'}}></span>
{% endif %}
<flynt-component name="BlockCTABar" class="componentSpacing {{options.backgroundColor}} {{options.paddingSize}} {{options.extraClasses}} {{fn('disablePadding',options.padding)}}">
    {{fn('getBackgroundPattern',options.backgroundPattern)}}
    <div class="{{options.containerSize}}">
        <div class="container">
            <div class="wrap">
                <div class="intro">
                    {{sectionIntro}}
                    <div class="ctas">
                        {% for btn in ctaLinks %}
                            <a href="{{btn.cta.url}}" class="button {{btn.style}}">{{btn.cta.title}}</a>
                        {% endfor %}
                    </div>

                </div>
                <div class="image">
                    <span class="emoji-grow">
                        {{emoji}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <aside class="additional-text">
        <div class="container">
            {{options.additionalText}}  
        </div>
    </aside>
</flynt-component>
